body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(Images/mountain.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
p { 
  position: absolute; 
  top: 100px; 
  width: 100%; 
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  margin: auto;
  width: 70%;
  padding: 10px;
  box-shadow: 3px 3px 1rem 1px;

 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
